.map {
  &__base {
    box-sizing: border-box;
    width: 350px;
    margin-left: 50px;
    height: 500px;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
  }

  &__info {
    padding: 25px;
    width: 800px;

    li {
      padding-bottom: 10px;
    }

    span {
      font-style: italic;
    }
  }

  &__infoLocation,
  &__infoCountry,
  &__infoCoordinates {

    &:before {
      content: ' ';
    }
  }

  &__infoTitle {
    font-size: 24px;
    padding-bottom: 30px;
  }
}
